<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	
	<listener>
		<listener-class>org.zyweistartframework.context.InitialWebApplicationContext</listener-class>
	</listener>
	
	<filter>
		<filter-name>Controller</filter-name>
		<filter-class>org.zyweistartframework.controller.filter.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Controller</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/pages/403.html</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/404.html</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/pages/500.html</location>
	</error-page>

</web-app>